<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}Мій Облік{% endblock %}</title>
    
    {% block head %}{% endblock %}
</head>
<body>

    <header>
        <nav>
            <a href="/">Головна</a> | 
            <a href="/documents">Створити документ</a>
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>Футер сайту</p>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    
    {% block scripts %}{% endblock %}

</body>
</html>