{% extends "base.html" %}

{% block title %}Список Документів{% endblock %}

{% block head %}
    <link href="https://unpkg.com/tabulator-tables@6.2.0/dist/css/tabulator.min.css" rel="stylesheet">
    

{% endblock %}

{% block content %}
    <div style="text-align: center; margin-bottom: 20px;">
        <h1>Перелік Усіх Облікових Документів (Tabulator)</h1>
        <p>
            <a href="{{ url_for('create_document') }}">Створити Новий Документ</a>
        </p>
    </div>

    <div id="documents-table"></div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.2.0/dist/js/tabulator.min.js"></script>

    <script type="text/javascript" src="scripts.js"></script>
{% endblock %}